@font-face {
	font-family: "Press Start 2P";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(press-start-2p-latin-400-normal.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--bg: DarkSlateGrey;
	--fg: white;
	--accent: SpringGreen;
	--ui-width: 43.75rem; /* 700px */
	--octaves: 1;
	--gap-y: 2rem;
}

@media (min-width: 86rem) {
	:root {
		--octaves: 2;
	}
}

@media (min-width: 132rem) {
	:root {
		--octaves: 3;
	}
}

* {
	box-sizing: border-box;
	touch-action: manipulation;
}

body {
	color: var(--fg);
	background-color: var(--bg);
	font-family: "Press Start 2P", monospace;
	line-height: 1.3em;

	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(160deg, var(--bg) 30%, var(--accent) 200%);
		z-index: -1;
	}
}

[hidden] {
	display: none;
}

header {
	display: flex;
	max-width: var(--ui-width);
	align-items: center;
	gap: 1ch;
	margin: 0 auto 24px;
}

a {
	color: white;
}

.controls {
	max-width: calc(var(--ui-width) * var(--octaves));
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin-bottom: 1rem;

	> .controls-box {
		display: flex;
		flex-direction: column;
		margin-bottom: var(--gap-y);
	}

	& [type="radio"] {
		display: none;

		+ label {
			display: inline-block;
		}

		&:checked + label {
			color: var(--accent);
		}
	}

	& select {
		width: 9ch;
		font: inherit;
		border: none;
		color: inherit;
		background: var(--bg);
		padding: 0.4rem;
	}

	& .option {
		> label {
			display: inline-block;
			width: 9ch;
		}
	}
}

.error {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	z-index: 10;

	&[open] {
		display: flex;
	}
}

.keyboard {
	position: relative;
	display: flex;
	justify-items: stretch;
	max-width: calc(var(--ui-width) * var(--octaves));
	margin: auto;
	user-select: none;
	-webkit-user-select: none !important;

	> button {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 1rem;
		font-family: "Press Start 2P", monospace;
		border: 1px solid black;
		font-size: 0;
		text-transform: uppercase;
		user-select: none;
		-webkit-user-select: none !important;

		&.white {
			flex: 1 0 calc(100% / (12 * var(--octaves)));
			max-height: 50vw;
			height: 18rem;
			background-color: white;
			color: grey;
			margin: 0 2px;

			+ button.white {
				margin-left: -1px;
			}

			&:focus-visible:not(.active) {
				background: orchid;
				outline: none;
			}
		}

		&.black {
			flex: 1 0 calc(100% / (12 * var(--octaves)) * 0.4);
			max-height: 30vw;
			height: 11rem;
			margin-left: calc(100% / (12 * var(--octaves)) * -0.5 - 4px);
			margin-right: calc(100% / (12 * var(--octaves)) * -0.5 - 4px);
			z-index: 1;
			background-color: black;
			border-left-color: white;
			border-right-color: white;
			border-bottom-color: white;
			color: darkgrey;

			&:focus:not(.active) {
				background: darkorchid;
				outline: none;
			}
		}

		&.active {
			background: linear-gradient(160deg, var(--bg) -150%, var(--accent) 100%);
			color: var(--bg);
			outline: none;
		}
	}
}

button:not(:is(.black, .white)) {
	appearance: none;
	background: white;
	font-family: "Press Start 2P", monospace;
	border: 2px solid currentColor;
	padding: 0.3rem;
	cursor: pointer;

	&[aria-pressed="true"] {
		background: green;
		color: white;
		box-shadow: 0 0 1rem 0 green;
	}
}

.recordingControls {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: var(--gap-y) auto 0.5rem;
	max-width: calc(var(--ui-width) * var(--octaves));

	&:not(:has(+ #recordingsList li + li)) #play {
		display: none;
	}
}

#rec {
	border-color: black;
	&[aria-pressed="true"] {
		background: red;
		color: white;
		box-shadow: 0 0 1rem 0 red;
	}
}

#recordingsList {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: calc(var(--ui-width) * var(--octaves));
	margin: auto;

	button {
		min-width: 3rem;
		min-height: 3rem;
		font-size: 1.5rem;
	}
}

.audioTrack {
	display: grid;
	grid-template-columns: 7ch auto 7ch 3rem;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"in out loop del"
		"play audio audio audio ";
	gap: 0 1rem;
	align-items: center;
	width: 100%;
	opacity: 0;
	transform: translateY(-1rem);
	transition: opacity 0.2s ease-out, transform 0.2s ease-out;

	&[data-ready="true"] {
		opacity: 1;
		transform: translateY(0);
	}

	@media (min-width: 60rem) {
		grid-template-columns: 7ch 3rem auto 7ch 3rem 3rem;
		grid-template-rows: auto;
		grid-template-areas: "in play audio out loop del";
		gap: 1rem;
	}

	audio {
		flex: 1 0 auto;
		height: 1.8rem;
	}

	label {
		display: flex;
		align-items: center;
	}

	input[type="number"] {
		width: 7ch;
		height: 3rem;
		font-family: "Press Start 2P", monospace;

		&[data-audio-ctrl="out"] {
			text-align: right;
		}
	}

	.audioPlay {
		grid-area: play;
	}

	.vis,
	.indicator {
		width: 100%;
		height: 4rem;
		position: absolute;
		inset: 0;
		pointer-events: none;
	}

	.indicator {
		--col-out: rgb(from var(--bg) r g b / 0.8);
		--col-out: coral;
		background: linear-gradient(
				90deg,
				transparent var(--in-pos, 0%),
				var(--accent) var(--in-pos, 0%),
				var(--accent) var(--play-pos, 0%),
				transparent var(--play-pos, 0%)
			),
			linear-gradient(90deg, var(--col-out) var(--in-pos, 0%), transparent var(--in-pos, 0%)),
			linear-gradient(90deg, transparent var(--out-pos, 100%), var(--col-out) var(--out-pos, 100%));
		mix-blend-mode: darken;
	}

	.audioPlayer {
		grid-area: audio;
		position: relative;
		flex: 1 1 100%;

		.audioScrub {
			width: 100%;
			height: 4rem;
			opacity: 0;
		}

		.currentTime {
			position: absolute;
			inset: 0.2rem;
			display: grid;
			place-items: center;
			text-shadow: -1px -1px 0 var(--bg), 1px -1px 0 var(--bg), -1px 1px 0 var(--bg), 1px 1px 0 var(--bg);
			pointer-events: none;
			z-index: 1;
		}
	}
}

footer {
	max-width: var(--ui-width);
	margin: var(--gap-y) auto 0;
	text-align: center;
	font-size: 0.75rem;
}

@media (min-width: 48rem) {
	.keyboard {
		button {
			font-size: 1.2em;
		}
	}
}

@media (max-width: 85.999rem) {
	.md {
		display: none !important;
	}
}

@media (max-width: 131.999rem) {
	.lg {
		display: none !important;
	}
}
